[submodule "ping"]
	path = ping
	url = https://github.com/gear-dapps/ping
[submodule "app"]
	path = app
	url = https://github.com/gear-dapps/app
[submodule "fungible-token"]
	path = fungible-token
	url = https://github.com/gear-dapps/fungible-token
